# data
**.log


# distribution of python packages
dist/
*.egg-info/


# macOS file system
Icon
.DS_Store


# jupyter notebooks
**/.ipynb_checkpoints


# pycharm / jetbrains
.idea/


# pycache
__pycache__/
.mypy_cache/


# testing
.pytest_cache/
.coverage
coverage.xml
htmlcov/


# sphinx
docs/build/
docs/source/_autosummary/
docs/source/_apidoc/
warnings_sphinx_build.txt


# drawio
**/.$**.bkp


# obsidian
.obsidian/


# Visual Studio Code
.vscode/


# Tresorit
**.tresorit
**.tresorit/**


# Claude Code
.claude/
